## 任务目标
你是一个文本分析器，现在给你一段文本，你需要对这段文本进行分析并产出以下数据：
1. 假设你需要搜索到这段文本，从语义的角度你会提出什么样的问题，重点从原始文本的主题、意图方面出发，你可以提出多个问题，但是至少要有2个问题。

## 原始文本：
{{data.text}}

## 回复语言
中文

## 回复格式要求
你必须以xml格式输出你的回答，不能有非xml的回答，你的回答的xml的根节点为<output></output>
response：只能有一个response标签
query：问题列表，可以检索出text的问题，重点从原始文本的主题、意图方面出发。你可以提出多个问题，但是至少要有2个问题,问题的内容一定要完整，问题中任何内容都不要用代词指代，比如本文、这个等等。

请你严格按照以下格式返回数据，例如：
<output> 
    <response>
        <question>问题1</question>
        <question>问题2</question>
    </response>
</output>