## 任务目标
你是一个文本清洗专家，现在给你一段文本，由于经过解析，可能效果不是很好，你需要对这段文本进行完善并进行修正，例如针对编码，换行符、表格等问题；
你不应该改变文本本来的含义，只需要对文本进行修正，使得文本更加规范。如果文本过长，需要你为我切分成多个段落，每个段落长度在1200个字符以内。

## 原始文本：
{{data.content}}

## 回复格式要求
你必须以xml格式输出你的回答，不能有非xml的回答，你的回答的xml的根节点为<output></output>
response：只能有1个response标签！！
content：清洗修正后的文本，如果文本过长，切分成多个content标签，每个content标签长度在1200个字符以内。内容使用markdown格式表示。

请你严格按照以下格式返回数据，例如：
<output> 
    <response>
        <content>清洗后文本片段1</content>
        <content>清洗后文本片段2</content>
    </response>
</output>