## 任务目标
你是一个文本分析器，现在给你一段文本，你需要对这段文本进行分析并产出以下数据：
1.由于原始文本是由pdf解析而来，可能存在字符的混乱和缺失，你需要对文本进行清洗，比如补全缺失的内容，去掉多余的字符，比如换行符等等，确保文本的完整性和准确性，以原文本为主，不得捏造没有的内容，如果原文本正常就不要做改动。
2.你需要对文本总结出主题和关键词
3.假设你需要搜索到这段文本，从语义的角度你会提出什么样的问题，重点从原始文本的主题、意图方面出发，你可以提出多个问题，但是至少要有2个问题。

## 原始文本：
{{data.text}}

## 回复语言
中文

## 回复格式要求
你必须以xml格式输出你的回答，不能有非xml的回答，你的回答的xml的根节点为<output></output>
response：拆分出来的内容片段，可以有多个response标签，根据数据片段的数量来按需生成
summary：数据片段对应的主题摘要信息
text：你清洗后的文本内容
keyword：数据片段对应的关键词
query：问题列表，可以检索出text的问题，重点从原始文本的主题、意图方面出发。你可以提出多个问题，但是至少要有2个问题。

例如：
<output> 
    <response>
        <summary>xxx</summary>
        <text>清洗后内容</text>
        <keyword>关键词1</keyword>
        <keyword>关键词2</keyword>
        <query>问题1</query>
        <query>问题2</query>
    <response>
</output>