<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Element-UI Example</title>
    <!-- 引入Element-UI的样式文件 -->
    <link rel="stylesheet" href="./element-ui.css">
    <link rel="stylesheet" href="./test.css">
</head>
<body>
    <div id="app">
        <!-- 整体容器 -->
        <el-container class="main-wrapper">
            <!-- 头部区域 -->
            <el-header class="system-header">
                <span class="system-title">审评系统</span>
            </el-header>

            <el-container class="content-wrapper">
                <!-- 侧边导航栏 -->
                <el-aside width="200px" class="nav-sidebar">
                    <el-menu
                        default-active="1"
                        class="menu-container"
                        @select="handleMenuSelect">
                        <el-menu-item index="1">
                            <i class="el-icon-document"></i>
                            <span>报告生成</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-files"></i>
                            <span>审评要求</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-files"></i>
                            <span>文件管理</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>

                <!-- 主内容区域 -->
                <el-main class="main-content">
                    <div class="doc-selector">
                        <el-row type="flex" align="middle" :gutter="20">
                          <el-col :span="8">
                            <el-select
                              v-model="selectedDoc"
                              placeholder="请选择文档"
                              class="doc-select"
                              @change="handleDocChange"
                              filterable
                            >
                              <el-option
                                v-for="doc in ectdList"
                                :key="doc.doc_id"
                                :label="doc.file_name"
                                :value="doc.doc_id"
                              />
                            </el-select>
                          </el-col>
                    
                          <el-col :span="8">
                            <el-select
                              v-model="selectedSection"
                              placeholder="请选择章节"
                              class="doc-select"
                              :disabled="!selectedDoc"
                              filterable
                            >
                              <el-option
                                v-for="sectionId in sectionList"
                                :key="sectionId"
                                :label="sectionId"
                                :value="sectionId"
                              />
                            </el-select>
                          </el-col>
                    
                          <el-col :span="4">
                            <el-button 
                              type="primary" 
                              :disabled="!selectedSection"
                              @click="getContent"
                            >
                              查看
                            </el-button>
                          </el-col>
                        </el-row>
                      </div>
                    <!-- 双栏内容区域 -->
                    <el-row  class="card-container" :gutter="20">
                        <!-- 左侧内容卡片 --> 
                        <el-col v-if="!isSourceView" :span="12">
                            <el-card class="content-card">
                                <div class="text-editor-container">
                                    <el-input
                                        type="textarea"
                                        v-model="content"
                                        :rows="35"
                                        placeholder="输入章节内容"
                                        class="rounded-editor">
                                    </el-input>
                                </div>
                            </el-card>
                        </el-col>

                        <!-- 左侧内容卡片 -->
                        <el-col v-else :span="12">
                            <el-card class="content-card">
                            <!-- 搜索栏 -->
                                <!-- <div class="source-search">
                                    <el-input
                                    v-model="sourceSearchQuery"
                                    placeholder="搜索结论来源"
                                    @keyup.enter.native="searchSources"
                                    clearable>
                                    <el-button
                                        slot="append"
                                        icon="el-icon-search"
                                        @click="searchSources">
                                    </el-button>
                                    </el-input>
                                </div> -->

                                <div class="search-container" @click.stop>
                                    <!-- 悬浮球 -->
                                    <div
                                      class="search-ball"
                                      :class="{ 'expanded': isExpanded }"
                                      @click="handleBallClick"
                                    >
                                      <!-- 收缩状态显示搜索图标 -->
                                      <i v-if="!isExpanded" class="el-icon-search search-icon"></i>
                                
                                      <!-- 展开后的搜索区域 -->
                                      <transition name="el-zoom-in-center">
                                        <div v-if="isExpanded" class="search-box">
                                          <el-input
                                            ref="searchInput"
                                            v-model="searchKeyword"
                                            placeholder="请输入搜索内容"
                                            class="custom-input"
                                            @keyup.enter.native="performSearch"
                                          >
                                            <el-button
                                              slot="append"
                                              type="primary"
                                              class="search-btn"
                                              icon="el-icon-search"
                                              @click="performSearch"
                                            />
                                          </el-input>
                                        </div>
                                      </transition>
                                    </div>
                                  </div>

                                <!-- 来源列表 -->
                                <div class="source-list">
                                    <el-card
                                    v-for="(source, index) in filteredSources"
                                    :key="index"
                                    class="source-item">
                                    <div class="source-header">
                                        <span class="source-title">来源 {{ index + 1 }}</span>
                                        <el-button
                                        type="danger"
                                        icon="el-icon-delete"
                                        circle
                                        @click="deleteSource(index)">
                                        </el-button>
                                    </div>

                                    <div class="source-content">
                                        <el-input
                                        type="textarea"
                                        :value="source.requirement"
                                        :rows="3"
                                        readonly
                                        class="requirement-box">
                                        </el-input>
                                        <el-input
                                        type="textarea"
                                        v-model="source.conclusion"
                                        :rows="4"
                                        readonly
                                        class="conclusion-box">
                                        </el-input>
                                    </div>
                                    </el-card>
                                </div>
                            </el-card>
                        </el-col>

                        <!-- 右侧结论卡片 -->
                        <el-col :span="12">
                            <el-card class="conclusion-card">
                                <div slot="header" class="report-header">
                                    <span>审评报告</span>
                                    <div>
                                        <el-button
                                            type="primary"
                                            @click="generateReport"
                                            style="margin-left: 10px;">
                                            生成报告
                                        </el-button>
                                        <el-button type="info" @click="showSource">结论来源</el-button>
                                        <!-- <el-button type="warning" @click="showExpDialog">经验管理</el-button> -->
                                        <el-button type="danger" @click="regenerate">重新生成</el-button>
                                    </div>
                                </div>

                                <!-- 最终报告显示 -->
                                <!-- <div class="conclusion-display" :style="{marginTop: isGenerating ? '20px' : '0'}"> -->
                                <div class="conclusion-display" >
                                    <el-input
                                        type="textarea"
                                        :value="displayReport"
                                        :rows="29"
                                        readonly
                                        class="rounded-display"
                                        id="finalReport">
                                    </el-input>
                                </div>

                                <div  class="stream-display" :style="{marginTop:  '20px' }">
                                    <el-input
                                        type="textarea"
                                        :value="streamContent"
                                        :rows="2"
                                        readonly
                                        class="dynamic-console"
                                        id="streamConsole">
                                    </el-input>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>

        <!-- 经验管理对话框 -->
        <el-dialog
            title="经验管理"
            :visible.sync="expDialogVisible"
            width="66%"
            top="5vh"
            :center="true"
            custom-class="exp-dialog">
            <div class="exp-dialog-content">
                <!-- 输入区域 -->
                <div class="input-section">
                    <el-input
                        v-model="newExperience"
                        type="textarea"
                        :rows="3"
                        resize="vertical"
                        placeholder="输入新经验"
                        class="exp-textarea">
                    </el-input>
                    <div class="btn-container">
                        <el-button
                            type="primary"
                            class="confirm-btn"
                            @click="addExperience">
                            添加经验
                        </el-button>
                    </div>
                </div>

                <!-- 经验列表 -->
                <div class="exp-list">
                    <el-card
                        v-for="(exp, index) in experiences"
                        :key="index"
                        class="exp-item">
                        <div class="card-content">
                            <el-input
                                v-model="exp.content"
                                type="textarea"
                                resize="vertical"
                                :autosize="{ minRows: 2 }"
                                class="exp-content">
                            </el-input>
                            <div class="action-container">
                                <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    @click="deleteExperience(index)">
                                </el-button>
                            </div>
                        </div>
                    </el-card>
                </div>
            </div>
        </el-dialog>
        <el-dialog
            title="文件管理"
            :visible.sync="uploadDialogVisible"
            width="60%"
            :height="dialogHeight"
            custom-class="ectd-dialog"
            >
            <!-- 自定义标题样式 -->
            <template slot="title">
                <div class="dialog-title">文件管理</div>
            </template>

            <!-- 文件上传卡片 -->
            <el-card class="dialog-card">
                <div slot="header" class="card-header">
                <span>文件上传</span>
                </div>
                <el-form ref="form" :model="uploadForm" label-width="80px">
                <el-form-item label="类别">
                    <el-input v-model="uploadForm.classification"></el-input>
                </el-form-item>
                <el-form-item label="影响范围">
                    <el-input v-model="uploadForm.affect_range"></el-input>
                </el-form-item>
                </el-form>
                
                <el-upload
                class="upload-demo"
                ref="upload"
                action=""
                :auto-upload="false"
                :file-list="fileList"
                :before-upload="beforeUpload"
                :on-change="handleChange"
                >
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                <!-- <div slot="tip" class="el-upload__tip">只能上传eCTD文件（不超过500MB）</div> -->
                </el-upload>
            </el-card>

            <!-- 文件列表卡片 -->
            <el-card class="dialog-card">
                <div slot="header" class="card-header filter-header">
                    <div class="filter-container">
                        <el-select v-model="selectedCategory" placeholder="选择类别" clearable style="width: 200px; margin-right: 15px;">
                        <el-option v-for="item in categoryOptions" :key="item" :label="item" :value="item"/>
                        </el-select>
                        <el-button type="primary" @click="handleFilter":disabled="!selectedCategory">查看</el-button>
                    </div>
                </div>

                <el-table :data="filteredList" style="width: 100%" border>
                <el-table-column prop="doc_classification" label="文档类别" width="180"> </el-table-column>
                <el-table-column prop="doc_id" label="文档ID" width="180"></el-table-column>
                <el-table-column prop="file_name"label="文件名称"></el-table-column>
                <el-table-column
                    label="解析状态"
                    width="120">
                    <template v-slot="scope">
                    <el-tag :type="scope.row.parse_status === true ? 'success' : 'warning'">
                        {{ scope.row.parse_status === true ? '已解析' : '未解析' }}
                    </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="200"fixed="right">
                    <template v-slot="scope">
                    <el-button
                        size="mini"
                        type="primary"
                        :disabled="scope.row.parse_status === true"
                        @click="handleParse(scope.row.doc_id)"
                        :loading="parseLoading[scope.row.doc_id]"
                    >解析</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.row.doc_id)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            </el-card>
        </el-dialog>
       
    </div>
    <!-- 引入Vue.js -->
    <script src="./vue.js"></script>
    <!-- 引入Element-UI -->
    <script src="./element-ui.js"></script>
    <script src="./test.js"></script>
</body>
</html>