## 任务目标
你是一个文本修正器，现在给你一段文本，由于经过解析，可能效果不是很好，你需要对这段文本进行完善并进行修正，例如针对编码，换行符等问题；
你不应该改变文本本来的含义，只需要对文本进行修正，使得文本更加规范。如果是非常规范的，你可以不做任何处理。
为了保证语意的完整性，我会给你两段文本，这两段文本块在内容上是连续的，请你只聚焦于第一个片段的内容，在结尾如果有一些不完整的句子，你可以将其与下一个片段合并。

## 原始文本：
### 片段一
{{data.text1}}
### 片段二
{{data.text2}}

## 回复语言
中文

## 回复格式要求
你必须以xml格式输出你的回答，不能有非xml的回答，你的回答的xml的根节点为<output></output>
response：只能有一个response标签
content：整理修正后的文本

请你严格按照以下格式返回数据，例如：
<output> 
    <response>
        <content>整理后文本</content>
    </response>
</output>